.loginContainer {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    min-height: 100vh;      /* Garante que a altura ocupa a tela toda */
    background-color: #f8f9fa; /* Cor de fundo leve para o formulário */
  }
  
  .loginForm {
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
  
    h2 {
      color: #343a40;
      margin-bottom: 1.5rem;
      text-align: center;
    }
  }
  