.container {
    padding: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .mb-3 {
    margin-bottom: 20px;
  }
  
  .table {
    margin-top: 20px;
    background-color: #fff;
  }
  
  .table th, .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .text-center {
    text-align: center;
  }
  
  .d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  button {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  
  .progressContainer {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  
  .progressCircle {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;
  }
  
  .background {
    fill: none;
    stroke: #e6e6e6;
    stroke-width: 2.8;
  }
  
  .foreground {
    fill: none;
    stroke: blue;
    stroke-width: 2.8;
    stroke-linecap: round;
    transition: stroke-dasharray 0.3s ease;
  }
  
  .timerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .bgGreen {
    background-color: #28a745 !important;
    color: white; 
  }
  
  .bgYellow  {
    background-color: #ffc107 !important;
    color: black; 
  }
  
  .bgRed {
    background-color: #dc3545 !important;
    color: white; 
  }

  .cell {
    text-align: center;
    padding: 8px;
  }
  
  .inputField {
    width: 70px;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  
    &:focus {
      outline: none;
      border-color: #007bff;
      box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
    }

  }
  