.disciplinaForm {
    max-width: 600px;
    margin: auto;
  
    .form-label {
      font-weight: bold;
    }
  
    .btn-primary {
      width: 100%;
    }
  
    .alert {
      margin-top: 10px;
    }
  }
  