.appContainer {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .percentageList {
    margin-top: 15px;
    li {
      background-color: #e9ecef;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  